workflow-auto-io/workflow-auto-io_v1.json
{
  "name": "Auto-io",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -1584,
        -560
      ],
      "id": "0b62b7e5-b7fa-4fa0-8925-323e4d918221",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "lBLuLbC46CAQQwo7",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "## QUEM VOCÊ É\n\nVocê é Ana, assistente virtual da Grupo Auto.io, empresa de consultoria estratégica especializada em melhoria de processos internos (AS-IS), automação de processos e Inteligência Artificial para pequenas e médias empresas.\n\nSeu papel é responder e-mails de clientes interessados em otimizar processos, reduzir custos operacionais e aumentar a eficiência por meio de automação e IA.\n\nSeu principal objetivo é:\n\nCompreender a necessidade do cliente;\nEsclarecer dúvidas de forma clara;\nApresentar as soluções da Grupo Auto.io de maneira consultiva;\nConduzir o contato para uma reunião de diagnóstico.\n\nCaso precise solicitar mais informações ao cliente, utilize o formulário abaixo:\n\nQuando mencionar o formulário de diagnóstico, utilize o link clicável:\n\n<a href=\"https://forms.gle/6kkeNRK39FVBLqFX9\">Preencher formulário de diagnóstico</a>\n\n## TOM DE VOZ\nProfissional e acolhedor.\nObjetivo e claro.\nDemonstre interesse genuíno em compreender a realidade do cliente.\nUtilize sempre \"você\".\nEvite linguagem excessivamente técnica quando não for necessária.\nNunca seja insistente ou agressivo na venda.\nSempre transmita confiança, organização e conhecimento.\nEscreva de forma natural, como um consultor experiente.\n\n## O QUE VOCÊ PODE FAZER\nResponder e-mails de potenciais clientes.\nExplicar os serviços da Grupo Auto.io.\nEsclarecer dúvidas sobre automação de processos, Inteligência Artificial e melhoria de processos internos.\nSolicitar informações adicionais quando necessário para entender o cenário do cliente.\nIncentivar o agendamento de uma reunião de diagnóstico.\nDirecionar o cliente para preencher o formulário quando houver necessidade de coleta de informações.\n\n## INFORMAÇÕES DA EMPRESA\nA empresa é especializada em otimização de processos empresariais por meio de consultoria, automação e inteligência artificial.\n\nPrincipais serviços\nMapeamento e melhoria de processos (AS-IS e TO-BE);\nAutomação de processos e integração entre sistemas;\nIdentificação e eliminação de gargalos operacionais;\nAplicação de Inteligência Artificial para otimização e apoio à tomada de decisão.\nBenefícios entregues aos clientes\nRedução de custos operacionais;\nAumento da produtividade das equipes;\nProcessos mais eficientes, padronizados e escaláveis.\n\nSempre apresente as soluções como personalizadas para a realidade de cada empresa.\n\n## DOCUMENTAÇÃO PARA CONTRATO\nCaso o cliente solicite informações sobre contratação, informe que toda a documentação será apresentada após a reunião de diagnóstico, quando será possível elaborar uma proposta adequada às necessidades da empresa.\n\nNunca invente cláusulas, valores, prazos ou condições contratuais.\n\n## PERGUNTAS FREQUENTES\n\"Vocês negociam preço?\"\n\nSim. As propostas são personalizadas conforme o escopo do projeto. Após entendermos sua necessidade durante a reunião de diagnóstico, elaboramos uma proposta adequada.\n\n\"Quanto custa um projeto?\"\n\nO investimento depende da complexidade do processo, do nível de automação desejado e das integrações envolvidas. Por isso, realizamos primeiro uma reunião de diagnóstico.\n\n\"Quanto tempo leva um projeto?\"\n\nO prazo varia conforme o escopo. Após o levantamento dos processos, conseguimos estimar um cronograma.\n\n\"Vocês atendem empresas de qualquer segmento?\"\n\nSim. Atendemos pequenas e médias empresas de diversos setores, adaptando as soluções às necessidades específicas de cada negócio.\n\n\"Vocês utilizam Inteligência Artificial?\"\n\nSim. Trabalhamos com soluções de IA aplicadas à automação, atendimento, análise de dados e otimização de processos, sempre avaliando o que faz sentido para cada empresa.\n\n## USO DE FERRAMENTAS\n### Ferramenta: formulario_registro\nUse SEMPRE que o cliente perguntar sobre os serviços, pedir recomendações ou mencionar características desejadas (otimizar processo, redesenhar processo, automação, etc). Consulte a planilha e apresente as opções que mais se encaixam no perfil.\n\n\n## REGRAS IMPORTANTES\nNunca invente informações sobre preços, prazos, tecnologias, funcionalidades ou serviços que não tenham sido informados.\nCaso o cliente solicite algo que não esteja disponível nas informações fornecidas, responda que será necessário avaliar durante a reunião de diagnóstico.\nSe o cliente fizer perguntas fora do contexto da Grupo Auto.io (política, esportes, receitas etc.), responda educadamente:\n\n\"Meu foco é ajudar você a entender como a Grupo Auto.io pode otimizar os processos da sua empresa. Como posso ajudar nesse assunto?\"\n\nNunca fale mal de concorrentes.\nSempre que identificar interesse real do cliente, finalize convidando-o para uma reunião de diagnóstico.\nSempre priorize entender o problema antes de apresentar soluções.\nFaça perguntas quando as informações do cliente forem insuficientes para oferecer uma resposta precisa.\nFORMATAÇÃO DA RESPOSTA\n\nResponda SEMPRE em HTML válido.\n\nUtilize apenas as seguintes tags:\n\n<b> para negrito\n<br> para quebra de linha\n<ul> e <li> para listas\n<a href=\"\"> para links clicáveis\n\nOrganize a resposta em blocos bem estruturados, evitando textos muito longos em um único parágrafo.\n\n\nAo final das respostas, quando apropriado, convide o cliente para dar continuidade ao atendimento por meio da reunião de diagnóstico.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        -560
      ],
      "id": "b3b4835a-81ed-4819-8d74-067dfa22a43a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -448,
        -304
      ],
      "id": "7f03973f-57c2-418e-b36b-615ab09a755f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -640,
        -320
      ],
      "id": "8ddfc858-3323-433a-89e6-f8cfabf80675",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zfe5MTN2YjSr9M9G",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "56fe1e3e-74d6-4e2e-8b2c-0ea2c64196b9",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "696aae80-8572-4600-927e-7a98169b6ff2",
              "leftValue": "={{ $json.text }}",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f90fb7b7-dc4c-4e43-91a0-a3fc556ccba0",
              "leftValue": "={{ $json.text }}",
              "rightValue": "não responda",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "64575fe3-2b2c-4b1a-913b-bca0df0571cf",
              "leftValue": "={{ $json.text }}",
              "rightValue": "newsletter",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "520623c7-6a5d-464e-aadb-4fd67c0ebc3e",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "[SPAM]",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "33823ab3-a754-451f-a5cf-aac1aa832ad7",
              "leftValue": "={{ $json.text }}",
              "rightValue": "mailer-daemon",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f87ddc85-47e8-4a4f-b8cd-6f70bdc38591",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "auto.io.grupo@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "1416cfce-48be-425c-a89d-2b6657fba4b6",
              "leftValue": "={{ $json.text }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1376,
        -560
      ],
      "id": "b8414d93-78ac-4d99-9f25-79b493a2f4ee",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "=<html>\n<body>\n<p><b>Olá {{ $('Gmail Trigger').item.json.from.value[0].name }}!</b></p>\n<br>\n<p>Recebemos seu e-mail, mas nosso sistema de resposta automática está passando por um momento de instabilidade.</p>\n<br>\n<p><b>Enquanto isso, você pode:</b></p>\n<ul>\n  <li>Nos responder diretamente neste e-mail</li>\n  <li>Entrar em contato pelo WhatsApp: (11) 99999-9999</li>\n</ul>\n<br>\n<p><b>Em breve, um de nossos consultores entrará em contato.</b></p>\n<br>\n<p>Atenciosamente,<br>\n<b>Equipe Auto.io</b></p>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -320
      ],
      "id": "f0231d5f-e909-4b01-bf6c-65599be246cd",
      "name": "false",
      "webhookId": "57e55e7c-caf3-46ae-b221-90ba34246ef5",
      "credentials": {
        "gmailOAuth2": {
          "id": "lBLuLbC46CAQQwo7",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -656
      ],
      "id": "97e3580f-91ea-4a71-a1eb-f90135c1f1c6",
      "name": "true",
      "webhookId": "57e55e7c-caf3-46ae-b221-90ba34246ef5",
      "credentials": {
        "gmailOAuth2": {
          "id": "lBLuLbC46CAQQwo7",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Classifique a intenção do e-mail em uma das categorias abaixo:\n\nResponda APENAS com a categoria escolhida.\n\nE-mail: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "QUERO_COMPRAR",
              "description": "Cliente quer contratar serviços"
            },
            {
              "category": "DUVIDA",
              "description": "Cliente tem dúvidas sobre os serviços"
            },
            {
              "category": "RECLAMACAO",
              "description": "Cliente está insatisfeito"
            },
            {
              "category": "OUTRO",
              "description": "Não se encaixa nas categorias"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1104,
        -592
      ],
      "id": "6ae1a440-dba0-4760-a9a6-f08689c58f7d",
      "name": "Text Classifier",
      "notes": "Nó para classificação de intenção do cliente. Irá filtrar para melhorar a resposta da IA."
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1104,
        -352
      ],
      "id": "fcae23c4-c44e-4180-b4c2-2e2c5921f0f2",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "zfe5MTN2YjSr9M9G",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BE6BT3PFA",
          "mode": "list",
          "cachedResultName": "potenciais-clientes-novos"
        },
        "text": "=*🎯 NOVO LEAD RECEBIDO!*\n\n*👤 Nome:* {{ $('Gmail Trigger').item.json.from.value[0].name }}\n*📧 E-mail:* {{ $('Gmail Trigger').item.json.from.value[0].address }}\n*📝 Assunto:* {{ $('Gmail Trigger').item.json.subject }}\n*📋 Conteúdo:* \n{{ $('Gmail Trigger').item.json.text }}\n\n*📊 Classificação:* {{ $('Text Classifier').item.json.output }}\n\n👉 *Ação recomendada:* Responder o e-mail ou agendar diagnóstico.\n\n🔗 <https://mail.google.com/mail/u/0/#inbox/{{ $('Gmail Trigger').item.json.id }}|Abrir e-mail no Gmail>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        560,
        -656
      ],
      "id": "f7ea292a-09e1-4cb9-869b-52ac8c0fb404",
      "name": "Send a message",
      "webhookId": "e15839dd-1ccb-4929-a057-715778a67382",
      "credentials": {
        "slackOAuth2Api": {
          "id": "XYaruoWq2UlvHb20",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "GATILHO DO PRIMEIRO CONTATO\n",
        "height": 528,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        -704
      ],
      "typeVersion": 1,
      "id": "08de93d0-6832-4573-8f10-987f895c925b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "AGENTE DE IA",
        "height": 608,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -704
      ],
      "typeVersion": 1,
      "id": "f5621493-3c86-4638-8858-88f0a788eb7c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "RESPOSTA AO CLIENTE",
        "height": 560,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -704
      ],
      "typeVersion": 1,
      "id": "bda772f4-e34a-419e-ae30-c0dbf082beda",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=={{ $json.exists }}",
                    "rightValue": "formulário",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "26d93ebc-2e9b-4d96-a136-a1e90213b454"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Formulario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "71948809-e7ac-4e68-97af-5260e2e0beb1",
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não Formulário"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca8b6185-05f4-4f24-b593-e7694cd97b61",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Falha da IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        -304
      ],
      "id": "a6609d84-6202-4968-a452-9895acd3c4cb",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1334c5a0-a25e-4dae-a3bf-89ee6413a480",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bff0563c63157fd469400cf1e32e036dde190406e4ac357479c2ac8e9e2227da"
  },
  "nodeGroups": [],
  "id": "GGEgFdM3UjgD2R06",
  "tags": []
}