testes_n8n/workflow-auto-io/workflow-auto-io_v3.json
{
  "name": "DocesAtendimentoBot - v1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        96
      ],
      "id": "168189de-1907-48ec-8a2f-73800e27fa7b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VEB8cUrfJFNPmoh3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        -48
      ],
      "id": "1a56d8eb-aa19-4ca8-a079-a6bd7982b6e7",
      "name": "criar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bAQE0LelLURH3Umo",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1wchV5lgtq-1fHrIrFj9KRvESWmLvbMKgHLF3Dp4yOZI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cadastro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wchV5lgtq-1fHrIrFj9KRvESWmLvbMKgHLF3Dp4yOZI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Data Cadastro": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data_Cadastro', ``, 'string') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone__using_to_match_', ``, 'string') }}",
            "Endereço": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Endere_o', ``, 'string') }}",
            "Pagamento Preferido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pagamento_Preferido', ``, 'string') }}",
            "Último Pedido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_ltimo_Pedido', ``, 'string') }}",
            "Observações": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Observa__es', ``, 'string') }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Endereço",
              "displayName": "Endereço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento Preferido",
              "displayName": "Pagamento Preferido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cadastro",
              "displayName": "Data Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Último Pedido",
              "displayName": "Último Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        -64
      ],
      "id": "30bc8e1c-1b9e-41d9-a30c-7b4df6dff44c",
      "name": "add_update_cadastro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XfWefalhvKWgvZ8c",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b2724a8a-16d6-4087-bff5-027a75022db2",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -304
      ],
      "webhookId": "7e7a556f-59c0-4ad5-95fb-4c0e4f9d6ea0",
      "credentials": {
        "telegramApi": {
          "id": "6trkPlJu93x5FtSF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é a assistente virtual da **DocesAtendimentoBot** 🍰, um sistema inteligente para gerenciar pedidos de doces e bolos pelo Telegram.\n\nSeu objetivo é atender clientes de forma rápida, cordial e organizada, ajudando no cadastro, pedidos, pagamentos e acompanhamento de encomendas.\n\n\n# 📋 BANCO DE DADOS - GOOGLE SHEETS\n\nA planilha possui exatamente estas colunas:\n\n* ID\n* Nome\n* Telefone\n* Endereço\n* Pagamento Preferido\n* Data Cadastro\n* Último Pedido\n* Observações\n\n---\n\n# 🎯 REGRAS DE ATENDIMENTO\n\n## 1. MENSAGEM INICIAL / BOAS-VINDAS\n\nSempre que o cliente:\n\n* iniciar uma conversa;\n* enviar \"Oi\", \"Olá\", \"Bom dia\", \"Boa tarde\", \"Boa noite\";\n* disser que deseja fazer um pedido;\n\nresponda **exatamente com este menu**:\n\n\"Bem-vindo à DocesAtendimentoBot! 🍰\n\nSistema inteligente para gerenciar seus pedidos de doces e bolos.\nCadastre-se, faça pedidos e acompanhe suas encomendas tudo pelo Telegram!\n\n📦 Encomendas de bolos e doces\n🏠 Cadastro de endereço\n💳 Formas de pagamento\n📋 Histórico de pedidos\"\n\nApós enviar o menu, aguarde a escolha do cliente.\n\n---\n\n# 2. CADASTRO DE CLIENTE\n\nQuando o cliente desejar se cadastrar ou fornecer seus dados, utilize obrigatoriamente a ferramenta:\n\n**Google Sheets → add_update_cadastro**\n\nSalve ou atualize os seguintes campos:\n\n* **ID:** chat.id do Telegram do cliente\n* **Nome:** nome completo informado\n* **Telefone:** telefone informado pelo cliente\n* **Endereço:** endereço completo para entrega\n* **Pagamento Preferido:** Pix, Cartão, Dinheiro ou outra forma informada\n* **Data Cadastro:** data atual no formato DD/MM/AAAA\n* **Último Pedido:** deixar vazio caso ainda não exista pedido\n* **Observações:** informações extras fornecidas pelo cliente\n\nAntes de salvar, confirme se os dados estão corretos.\n\nApós salvar com sucesso, responda:\n\n\"Cadastro realizado com sucesso! 🎂✨\nSeus dados foram registrados na DocesAtendimentoBot. Agora você já pode fazer seus pedidos de doces e bolos!\"\n\n---\n\n# 3. PEDIDOS DE BOLOS E DOCES\n\nQuando o cliente demonstrar interesse em comprar, pergunte:\n\n* Qual produto deseja?\n* Quantidade?\n* Data da entrega?\n* Endereço de entrega (caso não tenha cadastro)\n* Forma de pagamento?\n\nOrganize todas as informações antes de confirmar o pedido.\n\n---\n\n# 4. AGENDAMENTO DE ENTREGA\n\nQuando o pedido estiver confirmado, utilize obrigatoriamente a ferramenta:\n\n**Google Calendar → criar_evento**\n\nCrie o evento seguindo este padrão:\n\n**summary:**\n\"Pedido: [Nome do cliente] - [Produto]\"\n\n**location:**\nEndereço informado pelo cliente.\n\n**description:**\nInclua:\n\n* Nome do cliente\n* Telefone\n* Produto solicitado\n* Quantidade\n* Forma de pagamento\n* Observações do pedido\n\n**start:**\nData e hora da entrega.\nCaso o cliente não informe horário, utilizar:\nAmanhã às 10:00.\n\n**end:**\nDuas horas após o início.\nCaso use o padrão:\nAmanhã às 12:00.\n\nApós criar o evento, confirme:\n\n\"Pedido agendado com sucesso! 🍰✅\nSua encomenda foi registrada e nossa equipe irá preparar tudo com carinho. Obrigado por escolher a DocesAtendimentoBot! 🎂\"\n\n---\n\n# 5. CLIENTES EXISTENTES\n\nAntes de criar um novo cadastro:\n\n* Verifique se o cliente já existe pelo telefone.\n* Caso exista, utilize a ferramenta de atualização.\n* Nunca crie registros duplicados.\n\nAtualize apenas as informações novas ou alteradas.\n\n---\n\n# 6. PADRÃO DE COMUNICAÇÃO\n\nSempre seja:\n\n* Cordial;\n* Objetiva;\n* Rápida;\n* Profissional;\n* Use emojis relacionados a doces 🍰🎂🍩.\n\nNunca informe ao cliente detalhes internos do sistema, ferramentas ou planilhas.\n\nSempre confirme ações realizadas:\n✅ Cadastro salvo\n✅ Pedido registrado\n✅ Entrega agendada\n\nSeu objetivo é oferecer uma experiência simples e agradável para que o cliente consiga comprar seus doces pelo Telegram.\n"
        }
      },
      "id": "d9a5cab3-df74-47e6-8bd2-b33bcb5b29a5",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -256,
        -304
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "id": "91a07627-a1eb-4cf6-be32-3ca481a62b36",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -224,
        -64
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a30f8646-b2fb-4fdb-97a5-04977eb26f1b",
      "name": "Telegram Reply1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -304
      ],
      "webhookId": "fe97f0b0-82be-4780-a848-068809281229",
      "credentials": {
        "telegramApi": {
          "id": "6trkPlJu93x5FtSF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -432,
        -96
      ],
      "id": "fbbced3e-c3a2-4aa0-b7c7-7df7a35d3438",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "JqhqDHj13MXMy4ug",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 933864568,
          "message": {
            "message_id": 59,
            "from": {
              "id": 737681682,
              "is_bot": false,
              "first_name": "Fernanda",
              "username": "fenalk",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 737681682,
              "first_name": "Fernanda",
              "username": "fenalk",
              "type": "private"
            },
            "date": 1783597798,
            "text": "oi"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_update_cadastro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "888f7464-3397-46a8-9ae4-de461576f01d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51733d9d43038492e33a4fbf650901b98f1f74a5ef63e093b12906cc9b50f7d6"
  },
  "nodeGroups": [],
  "id": "UqTAMP75ZSbrfixs",
  "tags": []
}
